<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(#{error.500})}"></head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>
<main class="container page-content text-center">
    <h1>500</h1>
    <h3 th:text="#{error.500}">Erro interno</h3>
    <p class="bar opacity" th:text="#{error.500.msg}">Erro inesperado</p>
    <a th:href="@{/}" class="btn btn-freelancers mt-3" th:text="#{nav.home}">Início</a>
</main>
<div th:replace="~{fragments/layout :: footer}"></div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
